<h2 class="page-header">Patient Summary</h2>

<p *ngIf="!patient"><em>Loading Patient Summary...</em></p>

<div *ngIf="patient">
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>{{patient.firstName}} {{patient.surname}}
        </h3>
        <p>Nhs Number:{{patient.nhsNumber}}</p>
        <p>DOB:{{patient.dateOfBirth}}</p>
    </div>

    <div class="row">
        <h3>Medications</h3>
        <table class='table' *ngIf="patient.medications">
            <thead>
                <tr>
                    <th>Medication Name</th>
                    <th>Dose</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medication of patient.medications">
                    <td>{{ medication.name }}</td>
                    <td>{{ medication.dose }}</td>
                    <td>{{ medication.start }}</td>
                    <td>{{ medication.end }}</td>
                </tr>
                <tr *ngIf="patient.medications.length == 0">
                    No medications recorded for patient.
                </tr>
            </tbody>
        </table>
    </div>
</div>